body {
  margin: 5% 10%;
  background-color: rgb(29,161,242);
}

body h1 {
  color: #FFF;
}

body > header {
  margin-bottom: 5%;
}

article.media-post {
  border: solid 1px #000;
  margin: 2% 3%;
  background-color: #fff;
}

article.media-post > p {
  background-color: rgba(0,123,255,0.25);
  padding: 1em 2em;
}

article.media-post > header {
  padding: 1em 2em;
  background-color: rgb(225,232,237);
}

article.media-post > footer {
  color: rgb(170,184,194);
}

article.media-post > footer ul {
  list-style-type: none;
}
